/* Master Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {
    margin: 2em;
}

h1.fullname{
	margin-top: 0px;
}
img#app-person-details-photo{
	width: 100%;
	max-height: 200px;
}

ul.nav.nav-tabs{
	margin-bottom: 10px;
}